@font-face {
    font-family: 'OswaldExtraLight';
    src: url('osvald/Oswald-ExtraLight.ttf');
}


@font-face {
    font-family: 'OswaldLight';
    src: url('osvald/Oswald-Light.ttf');
}

@font-face {
    font-family: 'OswaldMedium';
    src: url('osvald/Oswald-Medium.ttf');
}

@font-face {
    font-family: 'Univers';
    src: url('univers/UniversLTStd.otf');
}





